/* http://meyerweb.com/eric/tools/css/reset/ v2.0 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block; }
body {line-height: 1; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table {border-collapse: collapse; border-spacing: 0; }
/* end reset */


html, body{
  background:#e0e0e0;
  color:#222;
  font-family:"Libre Franklin"; /* only thing we can't change */
  font-weight:300;
  line-height:1.2em;
  box-sizing: border-box;
}

#wrapper{
	margin: 20px;
}

div {
	/*width: 16%;*/
	flex: 1 1 auto;
}

.venues{
	box-sizing: border-box;
	padding: 20px;
	display: inline-block;;
	float: left;
	width: 15%;
	padding-top: 0px;
	border-right-style: groove;
	border-right-width: thin;
	border-right-color: aliceblue;
	font-weight: 200;

}

.artists{
	/*margin: 20px;*/
	display: inline;
	float: right;
	width: 85%;
}

table{
	/*margin: 20px;*/
	display: inline-table;
	width: 24%;
	text-align: center;
	table-layout: fixed;
}

table td {
	word-wrap: break-word;
	overflow-wrap: break-word;
	padding-bottom: 1rem;
}

h1 {
	/*font-weight: 300;*/
	font-size: 150%;
	padding-bottom: 1rem;
	line-height: 1.5;
	vertical-align: baseline;
}

th{
	font-weight: 500;
	font-size: 150%;
	padding-bottom: .75rem;
}

.venues > div{
	/*padding-top: 1.5em;*/
	padding-bottom: 2em;
	line-height: 1.5em;

}

.venues > div:hover{
	font-weight: 500;
}

tr{
	line-height: 1.5;
}

/*.listing{
	padding: 5%;
}*/