html, body {
  padding: 0;
  margin: 0;
  background: #1E1E1E;
}



#t_minor,#t_light, #t_moderate, #t_strong, #t_major, #t_great, #t_all{
	width: 200px;
	text-align: left;
	padding-left: 4px;
}


num{
	font-size: 14px;
	padding-left: 14px;
	padding-right: 14px;
	width: 90px;
}

#labels{
	border: none;
	display: flex;
	color: white;
	display: flex;
	text-align: center;
	font: 12px helvetica, sans-serif;
	align-items: stretch;
	justify-content: space-between;
	flex-direction: row;
	width: 190px;
	background-color: #1E1E1E;
	order: 9;
	padding: 5px;

}

category{
	padding-left: 25px;
}

magnitude{

}

#button{
	display: flex;
	padding: 60px;
	padding-bottom: 12px;
	/*width: 50%;*/
	-webkit-appearance: none;
	background-color: #1E1E1E;
	justify-content: flex-start;
	align-items: flex-start;
	width: 500px;
	align-self: center;
	flex-direction: column-reverse;
	   }

#buttonText:hover{
	text-shadow: 0px 0px 25px #fef0d9;
}
#buttonText{
	display: flex;
	color: white;
	display: flex;
	text-align: center;
	font: 18px helvetica, sans-serif;
	align-items: flex-start;
	flex-direction: row;
	width: 160px;
}

controls{
	height: 100px;
	width: 100%;
}

#All{
	/*font: 36px helvetica, sans-serif;*/
	display: flex;
	border: none;
	width: 400px;
	-webkit-appearance: none;
 	background-color: #1E1E1E;
	order: 6;
	align-items: stretch;
 		/*height:100px;*/
	/*background: #fef0d9;*/
}

#AllBar{
	order: none;
	padding-left: 20px;
	background-color: #(255,255,255,0);
	}


#Minor{
	display: flex;
	/*height: 40%;*/
	border: none;
	width: 400px;
	-webkit-appearance: none;
 	background-color: #1E1E1E;
	align-items: stretch;

}

#MinorBar{
	border: none;
	width: 20px;
	background-color: #fdd49e;
	}

#Light{	
	display: flex;
	width: 400px;
	border: none;
	/*height: 40%;*/
	-webkit-appearance: none;
 	background-color: #1E1E1E;
	align-items: stretch;

}

#LightBar{
		border: none;
	width: 20px;
	background-color: #fdbb84;
	}

#Moderate{
	display: flex;
	width: 400px;
	border: none;
	/*height: 40%;*/
	-webkit-appearance: none;
 	background-color: #1E1E1E;
	align-items: stretch;

}

#ModerateBar{
	border: none;
	width: 20px;
	background-color: #fc8d59;
	}

#Strong{
	display: flex;
	width: 400px;
	border: none;
	/*height: 40%;*/
	-webkit-appearance: none;
 	background-color: #1E1E1E;
	align-items: stretch;

}

#StrongBar{
	border: none;
	width: 20px;
	background-color: #ef6548;
	}


#Major{
	display: flex;
	width: 400px;
	border: none;
	/*height: 40%;*/
	-webkit-appearance: none;
 	background-color: #1E1E1E;
	align-items: stretch;

}

#MajorBar{
	border: none;
	width: 20px;
	background-color: #d7301f;
	}

#Great{
	display: flex;
	width: 400px;
	border: none;
	/*height: 40%;*/
	-webkit-appearance: none;
 	background-color: #1E1E1E;
	align-items: stretch;

}

#GreatBar{
	border: none;
	width: 20px;
	background-color: #990000;
	}


#Clear{
	border: none;
	align-self: flex-end;
	width: 100%;
	display: flex;
	order: -19;
	padding-top: 10px;
 	background-color: #1E1E1E;

}


/* default dimensions for the leaflet map */
#quake-map{
  width: 100%;
  height: 70%;
  border-style: solid;
}