html, body {
  padding: 0;
  margin: 0;
}

/* default dimensions for the leaflet map */
#quake-map{
  width: 600px;
  height: 400px;
}

div.left_map{
  position: fixed;
}

div.right_dash{
  background-color: lightblue;
}
