html, body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 12px;
}

/* default dimensions for the leaflet map */
#quake-map{
  width: 75%;
  height: 100%;
  float: left;
  position: fixed;
  left: 0px;
}

#dashboard{
  width: 25%;
  height: 100%;
  float: right;
  box-sizing: border-box;
  padding: 50px;
  background-color: white;
}

#dashdata{
  padding: none;

}
