/* http://meyerweb.com/eric/tools/css/reset/ v2.0 */
h/*tml, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, date, day
dl, dt, dd, ol, ul, li, bg,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block; }
body {line-height: 1; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table {border-collapse: collapse; border-spacing: 0;}*/
/* end reset */


html, body{

  font-family:"Libre Franklin";
  background-color: #ece6da;
  color:#1b1610;
  margin: 56px;

}

pad1{
	padding-left: 14px;
	flex: 1;
}

pad2{
	padding-left: 28px;
}

pad3{
	display: flex;
	
}

pad4{
	
}

.schedule{
	display: flex;
}

day{
	font-size: 57px;
	font-weight: 800;
	align-self: center;
	text-align: center;
	text-transform: uppercase;
}
venue{
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 90px;


}

artist{
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	flex: 1;

}

start{
	font-size: 14px;
	font-weight: 300;
	flex: 1;
	}


date{
	font-weight:100;
	font-size: 56px;
	text-transform: uppercase;
}

tr{
	color:#222;
	text-transform: uppercase;
}

table{
	/*margin: 20px;*/
	display: inline-table;
	text-align: center;
	table-layout: fixed;
}

.items{
	display: flex;
	flex-direction: column;
}

.shows{
	display: flex;
	width: 33%;
}