/* http://meyerweb.com/eric/tools/css/reset/ v2.0 */
h/*tml, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, date, day
dl, dt, dd, ol, ul, li, bg,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block; }
body {line-height: 1; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table {border-collapse: collapse; border-spacing: 0;}*/
/* end reset */


html, body{

  font-family:"Libre Franklin";
  background-color: #f0eee1;
  color:#1b1610;
  margin: 56px;

}

h1{
	text-align: center;
	font-size: 112px;
	text-transform: uppercase;
	margin-top: 300px;
	font-weight: 900;
	line-height: 0px;
	word-wrap: nowrap;
	white-space: nowrap;
}

h2{
	text-align: center;
	font-size: 56px;
	text-transform: uppercase;
	line-height: 56px;
	font-weight: 300;
	margin-bottom: 200px;
	letter-spacing: 25px;
}

h3{
	text-align: left;
	font-size: 70px;
	font-weight: 600;
	padding: 14;
	line-height: 0;
	display: inline;
}

hr{
	height: 4;
	color:#1b1610;
	background-color: #1b1610;

}
.schedule{
	
}

day{
	font-size: 56px;
	font-weight: 400;
	align-self: center;
	text-align: center;
	line-height: 160px;
}
venue{
	font-size: 28px;
	font-weight: 300;
	line-height: 60px;
	padding-left: 14px;
}

artist{
	font-size: 14px;
/*	font-weight: 400;
*/	line-height: 16px;
	flex: 1;
	word-wrap: normal;
	text-overflow: break-word;

}

start{
	font-size: 14px;
/*	font-weight: 300;
*/	flex: 1;
	text-align: right;
	}


date{
	font-weight:100;
	font-size: 56px;
	text-transform: uppercase;
}

tr{
	color:#222;
	text-transform: uppercase;
}

table{
	/*margin: 20px;*/
	display: inline-table;
	text-align: center;
	table-layout: fixed;
}

/*.items{
	display: flex;
	flex-direction: column;
}*/

.shows{
	padding-left: 28px;
}

day0{
	color: #35432b;
}

day1{
	color: #2a3d71;
}

day2{
	color: #a20e09;
}

day3{
	color: #8e6a20;
}